/* Body
==============================*/

body {
  margin-top: 50px;
}




/* Jumbotron
==============================*/

.jumbotron {
  background-color: lightgreen;
}

.jumbotron h1 {
  padding-left: 10px;
  padding-right: 10px;
}

.lead {
  padding-left: 10px;
  padding-right: 10px;
}


/* Content Section
==============================*/

.evernote_analysis {
  background-color: #f3f3f3;
}

.text {
  padding-top: 15px;
  padding-bottom: 15px;
}

.judgement {
  background-color: #f3f3f3;
}

.col-sm-6 p {
  padding-left: 15px;
  padding-right: 15px;
}

.col-md-12 p {
  padding-left: 15px;
  padding-right: 15px;
}

.col-sm-6  {
  padding-left: 15px;
  padding-right: 15px;
}

/* Buttons, Icons
==============================*/

.icon {
  font-size: 8em;
  line-height: inherit;
}
